div.preorder-main>p {
    margin-top: -46px;
}

div.preorder-container {
    width: 55%;
}

div.preorder-container input[type=text] {
    padding-left: 10px;
    width: 160px;
    margin-right: 5px;
}

div.weekday>label {
    padding-top: 2px !important;
}

div.weekday div.checkbox.icheck {
    padding-top: 5px !important;
}

div.weekday {
    padding-left: 7px !important;
}

div.timing {
    margin-bottom: 8px !important;
}

a.add-hrs {
    font-size: 15px;
    margin-left: 15px;
    padding-top: 5px;
}

div.preorder-container button {
    background: red;
    color: white;
    border: 2px solid red;
    border-radius: 4px;
}