ul#categories {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 725px;
    background-color: aquamarine;
    align-items: center;
    padding: 0;
    margin: 0px auto;
}

#categories>li {
    display: flex;
    align-items: center;
    width: 240px;
    margin-top: 10px;
    background-color: rgb(234, 234, 234);
    overflow: hidden;
    border-radius: 4px;
}

#categories>li>img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

#categories>li>span {
    font-size: 15px;
}